spring:
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
  web:
    resources:
      add-mappings: true
      static-locations:
        - file:///C:/image-uploads/
        - classpath:/static/
  application:
    name: aivle_4th_MiniProject_team19

  # 공통 datasource 설정 (모든 프로파일에 적용)
  datasource:
    url: jdbc:h2:file:/opt/app/h2db/bookdb;MODE=MySQL;DB_CLOSE_ON_EXIT=FALSE;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true # (2.5~) Hibernate 초기화 이후 data.sql 실행

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: always

# 로깅
logging:
  level:
    root: INFO
    org.hibernate.SQL: debug
    org.springframework: DEBUG
    org.springframework.web: DEBUG